/*http://www.desarrolloweb.com/articulos/atributo-position-css.html*/
#cuadro
	position static
	background-color #ff9
	padding 10px
	width 300px

#cuadro2
	position static
	background-color #f9f
	padding 10px
	width 500px

#cuadro3
	background-color #9ff
	padding 10px
	width 400px

#cuadro4
	position absolute
	width 300px
	height	140px
	top 100px
	left 30px
	background-color #ff8800
	color #fff
	padding 15px
	z-index 2

#cuadro5
	position: absolute
	width 820px
	height 30px 
	padding 10px
	background-color #ddf
	top 150px
	left 10px
	z-index 1
	border-radios 50%

#cuadro6
	position absolute
	width 100px
	height 20px
	padding 10px
	background-color #ddf
	bottom 10px
	right 10px

#cuadro7
	background-color #606
	color #ffc
	padding 10px
	text-align center
	width 300px

#cuadro8
	position relative
	width 300px
	padding 10px
	background-color #066
	color #fcc
	top 100px
	left 30px

#cuadro9
	background-color #606
	color #ffc
	padding 20px
	text-align center
	width 300px