#cuadro
	position static
	background-color #ff9
	padding 10px
	width 300px

#cuadro2
	position static
	background-color #f9f
	padding 10px
	width 500px

#cuadro3
	background-color #9ff
	padding 10px
	width 400px

#cuadro4
	position absolute
	width 300px
	height	140px
	top 100px
	left 30px
	background-color #ff8800
	color #fff
	padding 15px
	z-index 2